{% extends "SITIOWEB/nova/index.html" %}
{% block content %}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>NOSOTROS</h1>
                    <p>Somos emprendedores, e itentamos mejorar dia a dia.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>MISIÓN</h2>
                <p>La empresa SONYTEL es una empresa que ofrece servicio y mantenimiento continuo a equipos SONY, ITALY AUDIO, PANASONIC.</p>
                <p>Liderada por la experiencia y el emprendimiento de las organizaciones ligadas a nosotros, teniendo como base a un personal capacitado para dar óptimos mantenimientos para de esta manera garantizar la suma credibilidad de nuestros servicios.</p>
                <br/>
                <h2>VISIÓN</h2>
                <p>La empresa SONYTEL se destaca como lider coorporativo de la prestación de servicios y mantenimiento de equipos. El compromiso de garantizar a nuestros clientes un servicio que supere todas las aspectativas, contribuyendo al cuidado del medio ambiente e infundiento una transparencia en nuestra organización, cuidado cada dia con responsabilidad la imagen de la empresa.</p>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
                <h2>Adquisición de Equipos</h2>
                <div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span>SONY TELEVISORES Y EQUIPOS</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span>PANASONIC</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                            <span>ITALY AUDIO</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                            <span>ITALY POWER</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            <span>OTRAS MARCAS</span>
                        </div>
                    </div>
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

  
    </section><!--/#about-us-->

   
{% endblock content %}